@import url(components/navbar.css);
@import url(components/avatar.css);
@import url(components/container.css);
@import url(components/cartes.css);
@import url(pages/page\ de\ connexion.css);

body{
    background-color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.6);
    margin : 0;
    line-height: 1.3;
}