@import url(component/navbar.css);
@import url(component/carte.css);
@import url(component/avatar.css);
@import url(component/button.css);
@import url(component/tags.css);
@import url(component/connexion.css);
@import url(component/inscription.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: normal;
    margin-right: 14px;
    background-color: rgb(190, 237, 255);
}

.ma-grande-boite{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    min-height: 100vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}