h1 h2{
    text-align: center;
}

.card-container {
    padding: 20px 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    background-color: white;
}

.card-top {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
}

.image-produit {
    width: 50%;
    background-size: cover;
    background-position: center;
    color: red;
}

.description ul{
    list-style: none;
    display: flex;
    color: yellow;
    padding-left: 0;
}

.card-middle {
    height: 100px;
    color: red;
}
