a{
    color : inherit;
}

.topbar{
    background-color: #2f4d6e;
    color: #fff;
}

.topbar a{
    text-decoration: none;
}

.topbar-logo{
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
}

.topbar-nav{
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}

.topbar-nav a{
    display: inline-block;
    margin-right: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
    color: #fff;
}

@media only screen and (min-width: 521px){
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }
    .topbar-logo,
    .topbar-nav{
        padding: 0;
    }
    .topbar-nav a{
        margin : 0 20px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}